<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- @TODO Move this scripts out using a preprocessor -->
    <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
    <script defer type="module"src="./contactForm.js"></script>

    <link rel="stylesheet" href="../../css/styles.css" />

    <title>EXAMPLE OF FORM WITH VALIDATIONS</title>
  </head>
  <body class="antialiased font-sans bg-gray-200 overflow-hidden">
    
    <div class="max-h-full overflow-y-auto">
      <div class="bg-gray-100">
        <div class="mx-auto max-w-7xl py-12 sm:px-6 lg:px-8">
          <div class="mx-auto max-w-4xl">

            <div class="overflow-hidden bg-white shadow sm:rounded-lg">
              <div class="px-4 py-5 sm:px-6">
                <h3 class="text-lg font-medium leading-6 text-gray-900">Contact Form</h3>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details.</p>
              </div>
              <div class="border-t border-gray-200">

                <div class="px-4 py-5">
                  <!-- Render Contact Form -->
                  <form 
                    id="contactForm"
                    action="http://localhost:4000/api/customer"
                    data-form-type="contact-form"
                    data-contact-form
                  >
                  </form>

                  <div class="px-4 py-5">
                    
                    <!-- Error message element -->
                    <div
                      id="contact-form-alert"
                      class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative hidden" 
                      role="alert"
                    >
                    </div>
                    
                    <!-- Spinner element -->
                    <div class="flex justify-center">
                      <div
                        id="contact-form-spinner"
                        class="loader hidden"
                        role="status"
                      >
                      </div>
                    </div>

                  </div>

                  
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </body>
</html>